# Ignorar ambientes virtuais
.venv/

# Ignorar arquivos de sistema
*.log
*.pyc
__pycache__/

# Ignorar dependências instaladas (caso use Node.js no projeto)
node_modules/

# Ignorar arquivos de IDE
.vscode/
.idea/
